<h1>Upload do arquivo GPX</h1>
<form method="POST" enctype="multipart/form-data">
    <input type="file" name="img" />
    <input type="text" name="name" />
    <input type="text" name="price" />
    <input type="text" name="shipType" />
    <input type="text" name="originPort" />
    <button type="submit">Enviar</button>
</form>